
.input-field
 {

  width: 500px; /* Adjust the width as needed */

  padding: 50px; /* Adjust the padding as needed */

}





.text-area

 {

  width: 500px; /* Adjust the width as needed */

  height: 300px; /* Adjust the height as needed */

  padding: 10px; /* Adjust the padding as needed */

}


